<a href="/portfolio/<%= work.id %>">
    <div class="div-work-card">
        <div class="bg-div">
            <img src="<%= work.img %>" alt="Imagem ilustrativa do projeto: <%= work.name %>">
        </div>
        <div class="about-work">
            <h2><%= work.name %></h2>
            <hr>
            <p><%= work.desc %></p>
        </div>
    </div>
</a>